.qa-main {
    margin: auto;
    width: 55%;
    font-family: 'Roboto', sans-serif;
}

.qa-main-header {
    font-weight: 300;
}

/* SEARCHBAR  */
.searchbar-wrapper {
    margin-top: 15px;
    margin-bottom: 15px;
}
.searchbar-form {
    display: flex;
    width: 100%;
}

#icon {
    position: absolute;
    padding: 10px;
}

#search-field {
    padding: 10px;
    padding-left: 35px;
    width: 93%;
    font-family: 'Roboto';
    font-weight: 500;
}

.search-reset {
    position: relative;
    left: -20px;
    top: 10px;
}

/* QUESTION LIST  */
.qa-wrapper {
    margin-bottom: 20px;
}
.questionslist-actions {
    background: white;
    border: 1px solid;
    padding: 12px;
    margin: 10px 10px 10px 0px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: black;
}

.question-wrapper {
    display: flex;
    justify-content: space-between;
}

.question-header-body {
    display: flex;
    font-weight: bolder;
}

.question-header {
    margin-right: 10px;
}

.scroll {
  max-height: 500px;
  overflow-y: scroll;
}

.question-info {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 3px 15px 0px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: rgb(88,88,88);
    min-width: 165px;
}

.question-info #actions {
    background: none!important;
    border: none;
    padding: 0px 2px 0px 7px;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: rgb(88,88,88);
}

/* ANSWER LIST  */
.answer-header-bodylist-container {
    display: flex;
}

.answer-header {
    font-weight: bolder;
}

.answer-body-container {
    margin-left: 10px;
    margin-bottom: 12px;
}

.answer-body {
    font-weight: 500;
    font-size: 13px;
    margin-top: 3px;
    color: rgb(88,88,88);
}

.answer-info {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: rgb(88,88,88);
}

.answer-info button {
    background: none!important;
    border: none;
    padding: 0px 2px 0px 7px;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: rgb(88,88,88);
}

.answer-info-actions {
    display: flex;
}

.answerlist-wrapper {
    margin-top: 5px;
    margin-bottom: 10px;
}

.answerlist-wrapper #load-button {
    background: none!important;
    border: none;
    padding: 0!important;
    margin-left: 25px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: black
}

.text-divider {
    margin: 0px 10px 0px 10px;
}

/* QUESTION MODAL */
/* Background effect. It covers the entire site */
.qa-modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
    z-index: 2; /* Overlay effect: positioned over other containers */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Fix position on the top-left corner*/
    top: 0;
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    padding-top: 80px; /* Location of the content container */
}
/* Modal content */
.qa-modal-content {
    background-color: white;
    width: 70%; /* Width in proportion to its parent container*/
    max-width: 640px; /* Max width where it stops expanding */
    height: auto; /* Height in proportion to its parent container */
    margin: auto; /* Auto margin according to the element width */
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
}

.qa-modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;

}

.qa-modal-footer {
    display: flex;
    padding: 1rem 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

/* Close button */
.close {
   color: #aaaaaa;
   float: right; /* Positioned to the right of the parent container whichever size it is */
   font-size: 25px;
   font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.qa-modal-content h2 {
    margin: 5px;
}

.qa-modal-content form {
    margin: 20px;
    overflow: auto;
}

.qa-modal-content form label {
    display: block;
    margin: 0px 0px 15px 0px;
}

.qa-modal-content .label {
    padding-top: 8px;
    padding-right: 5px;
}

.qa-modal-content .required {
    display: inline-block;
    color: red;
}

.qa-modal-content textarea {
    display: block;
    width: 80%;
    height: 100px;
    font-family: 'Roboto';
    font-weight: 500;
}

.qa-modal-content input[type=text],
.qa-modal-content input[type=file] {
    display: block;
    font-size: 12px;
    width: 50%;
    height: 20px;
    margin: 3px 0px 5px 0px;
}

.qa-modal-content input[type=button],
.qa-modal-content input[type=submit] {
    background: white;
    border: 1px solid;
    padding: 12px;
    margin: 10px 10px 10px 0px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: black;
}

.qa-modal-content .disclaimer {
    display: block;
    font-size: 10px;
}



/*  IMAGE MODAL */
.img-modal {
    text-align: center;
}

.img-modal-dialog {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
    position: fixed;
    top: 20%;
    left: 0;
    display: inline-block;
    border: transparent;
    padding: 0;
    z-index: 2;
    width: auto;
}

.image {
    max-height: calc(100vh - 225px);
}

.answer-photos {
    display: flex;
    flex-direction: row;
}

.small-container {
    padding: 5px 5px 0px 0px;
}

.small-img {
    border: 2px solid transparent;
    border-color: #aaaaaa;
    image-rendering: pixelated;
    height: 100px;
    width: 150px;
    margin: 5px 5px 0px 0px;
}