.overview {
  display:flex;
  min-height: 100%;
  margin-bottom: 20px;
}

.info{
  margin: 15px;
  justify-content: flex-end;
  position: relative;
  left: 290px;
}

.reviews{
  display: flex;
}

.linkReviews{
  position:relative;
  margin: auto 10px;
}

.view{
  /* margin:10px; */
}

.display {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.mainDisplay img{
  position:relative;
  /* top: 100px; */
  left: 275px;
  width: 800px;
  height: 650px;
  object-fit: cover;

}
.mainDisplay img:hover {
  cursor:zoom-in;
}

.leftArrow, .rightArrow {
  position:absolute;
  top: 450px;
  z-index: 2;
}
.leftArrow {
  left: 400px;
}
.rightArrow {
  left: 1035px;
}

.thumbnailContainer {
  position: absolute;
  left: 260px;
  max-height:fit-content;
  /* right: 500px; */
  /* top: 10px; */


}
.upArrow, .downArrow {
  position: relative;
  left: 70px;
}
.upArrow {
  top: 10px;
}
.downArrow {
  bottom: 10px;
}
.leftArrow, .rightArrow, .upArrow, .downArrow, .thumbnails img, .circleThumbnails img{
  border: 3px solid transparent;
}
.leftArrow:hover, .rightArrow:hover, .upArrow:hover, .downArrow:hover,.thumbnails img:hover,.clickedThumbnail{
  border: 3px solid white !important;
  cursor:pointer;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  overflow: visible hidden;
  max-height: 100%;
  /* width: auto; */
  /* margin: 25px 0; */
  /* padding:0; */
  /* line-height: 0; */
  position:relative;
  /* left:257px;
  top: 10px; */
}
.thumbnails li {
  /* flex: auto; */
  list-style: none;
}
.thumbnails a {
  display: block;
}
.thumbnails img {
  /* display:flex;
  flex:column;
  justify-content: flex-end; */
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: top;
  margin: 0 auto;
  /* position: relative; */
}

.circleThumbnails img:hover{
  border: 3px solid black;
  cursor:pointer;
}
/* .slides {
  overflow: hidden;
  width: 75vmin;
  height: 100vmin;

}
.slides  li {
  width: 75vmin;
  height: 100vmin;
  position: absolute;
  z-index: 1;
  list-style: none;
}

.slides  img {
  height: 100vmin;
  object-fit: cover;
  object-position: top;
} */

/* .slides li:target {
  z-index: 3;
  -webkit-animation: slide 1s 1;
} */

/* .slides li:not(:target) { -webkit-animation: hidden 1s 1; } */
.circleThumbnails{
  display:flex;
  flex-wrap: wrap;
  margin: 20px 0;
  width: 400px;
}

.circleThumbnails img {
  width:  70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px;
}
.firstCircleThumbnail {
  order: -1;
}

.checkbox-wrapper {
  position:relative;
}
.style-checkbox {
  position: absolute;
  top: 10px;
  left: 63px;
  z-index: 1;
}

.shareIcons {
  display:flex;
  justify-content:space-between;
  margin: 20px;
  color:slategray;
}

.selectors {
  display:flex;
  justify-content:space-between;
  align-items: flex-start;
  width: 425px;
  /* margin:0 auto; */
}
.sizeSelector select{
  height: 60px;
  width: 270px;
}
.quantitySelector {
  width: 130px;
}
.quantitySelector select{
  width: 100%;
  height: 60px;
}

.add2Bag{
  height: 60px;
  width: 80%;
}
.add2Favorite{
  height: 60px;
  width: 15%;
  margin-left:5%;
}

