
.overview {
  min-height: 100%;
  max-width: 100%;
  margin: 20px 285px;
  position: relative;
}
.view{
  position: relative;
  display:flex;
  flex-wrap:nowrap;
  justify-content: space-between;
}

.info{
  display:flex;
  flex-direction: column;
  margin: 9px 0px 9px 20px;
  position: relative;
}
.viewLastInfo{
  flex-grow: 5;
}

/*********** LEFT DISPLAY ***************/

.display {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.mainDisplay{
   display:flex;
  position: relative;
}
.mainDisplay img{
  max-width: 800px;
  max-height: 650px;
  object-fit: cover;
}
.mainDisplay img:hover {
  cursor:zoom-in;
}

/*********** ARROWS ***************/
.upArrow, .downArrow {
  position: relative;
  left: 70px;
}
.upArrow {
  top: 20px;
}
.downArrow {
  bottom: 20px;
}
.leftArrow, .rightArrow {
  position:absolute;
  align-self:center;
}
.leftArrow {
  left: 100px;
}
.rightArrow {
  right:10px;
}

.leftArrow, .rightArrow, .upArrow, .downArrow, .thumbnails img, .circleThumbnails img{
  border: 3px solid transparent;
}
.leftArrow:hover, .rightArrow:hover, .upArrow:hover, .downArrow:hover,.thumbnails img:hover,.clickedThumbnail{
  border: 3px solid white !important;
  cursor:pointer;
}

/*********** VERTICAL THUMBNAILS ***************/
.thumbnailContainer {
  position: absolute;
  top: -20px;
  left: -25px;
  max-height: fit-content;
}
.thumbnails {
  display: flex;
  flex-direction: column;
  overflow: visible hidden;
  max-height: 100%;
  position:relative;
}
.thumbnails li {
  list-style: none;
}
.thumbnails a {
  display: block;
}
.thumbnails img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: top;
}

/*********** RIGHT SIDE INFO ***************/
.reviews{
  display: flex;
}

.linkReviews{
  position:relative;
  margin: auto 10px;
}

.circleThumbnails img:hover{
  border: 3px solid black;
  cursor:pointer;
}

.circleThumbnails{
  display:flex;
  flex-wrap: wrap;
  margin: 20px 0;
  width: 400px;
}

.circleThumbnails img {
  width:  70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px;
}
.firstCircleThumbnail {
  order: -1;
}

.checkbox-wrapper {
  position:relative;
}
.style-checkbox {
  position: absolute;
  top: 10px;
  left: 63px;
  z-index: 1;
  color:slategray;
}

/*********** SELECTORS AND ADD2BAG ***************/
.selectors {
  display:flex;
  justify-content:space-between;
  align-items: flex-start;
  width: 425px;
}
.sizeSelector {
  width: 270px;
}

.quantitySelector {
  width: 130px;
}
.quantitySelector select{
  width: 100%;
  height: 60px;
}

.add2 {
  width: 425px;

}
.add2Bag{
  height: 60px;
  width: 80%;
}
.add2Favorite{
  height: 60px;
  width: 15%;
  margin-left:5%;
}

.shareIcons {
  display:flex;
  justify-content:space-between;
  margin: 20px 0px;
  color:slategray;
  width: 425px;
}

/*********** BOTTOM INFO ***************/

.endInfo {
  display:flex;
  position: relative;
  height:100%;
  width: 100%;
}
.slogan {
  width:800px
}
.features {
  border-left: 4px solid slategray;
  max-height: 100%;
  max-width: 100%;
  margin: 15px 0px 15px 15px;
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
}
.feature {
  display:flex;
  justify-content: space-between;
  width: fit-content;
}
.featureCheck{
  margin: 0px 20px;
}

/*********** EXPANDED VIEW ***************/
.expandedView {
  position: fixed;
  display:flex;
  /* top: -90px;
  left: -290px; */
  /* background-color: black; */
  background:  rgba(40,40,40, .75);
  height: 100vh;
  width: 100vw;
  z-index:5;
  margin:0 auto;
  overflow: hidden;
  top: 0; right: 0; bottom: 0; left: 0; ;
}

.noscroll {
  overflow-y: hidden;
  position:fixed;
}
.closeIcon {
  position:absolute;
  right: 1vw;
  top:1vh;
}

.expandedView div{
  display:flex;
  justify-content: center;
  margin: 0 auto;
  width: 70vw;
  min-height: 90vh;
  background: white;

}
.expandedViewIcons {
  /* border: 3px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly !important;
  max-width:fit-content;
  padding: 0 15px;
}
.expandedImgContainer{
  /* border: 3px solid black; */
  /* margin: 0 1vh; */
  padding-right:1vh;
  max-width: 50vw;
  max-height: 100vh;
  position:relative;
  display:flex;
  background:inherit;
}
.expandedImgContainer img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.expandedImgContainer img:hover {
  cursor: crosshair;
}

.expandedLeftArrow, .expandedRightArrow {
  position: relative;
  top: 60vh;
  margin: 20px;
}
.expandedRighttArrow {
  right:0;
}
.expandedLeftArrow {
  left:0;
}

.zoomedImgContainer {
  max-width: vw;
  max-height: 100vh;
  background-repeat: no-repeat !important;
  background-size: 250% !important;
}

.zoomedImgContainer:hover img {
  opacity:0;
}

/* .zoomedImgContainer img{
  width: 250%;
  height: 250%;
  object-fit: cover;
  position:relative;
  pointer-events:none;
} */
.zoomedView img:hover{
  cursor: url("minus.png"), auto;
}

/* .slides {
  overflow: hidden;
  width: 75vmin;
  height: 100vmin;

}
.slides  li {
  width: 75vmin;
  height: 100vmin;
  position: absolute;
  z-index: 1;
  list-style: none;
}

.slides  img {
  height: 100vmin;
  object-fit: cover;
  object-position: top;
} */

/* .slides li:target {
  z-index: 3;
  -webkit-animation: slide 1s 1;
} */

/* .slides li:not(:target) { -webkit-animation: hidden 1s 1; } */